eshell/*
auto-save-list/*
ac-comphist.dat
games/*
auto*
elpa*
*~
~*
*znc_servers.el
*secret*
url/*
url
semanticdb/*
ac-comphist.el
*ac-comphist.dat*
\#*
#*
*#
*\#
ac-comphist.dat
*comphist*
/ac-comphist.dat
